.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
}

.card {
    background: white;
    padding: 40px 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
}

.heading {
    text-align: center;
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 600;
    color: #EE4B2B;
}

.forgotPassword {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 15px;
}

.forgotPassword a {
    font-size: 14px;
    color: #EE4B2B;
    text-decoration: none;
}

.forgotPassword a:hover {
    text-decoration: underline;
}

.separator {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.separator span {
    flex: 1;
    text-align: center;
    color: #999;
    font-size: 14px;
    position: relative;
}

.separator span::before,
.separator span::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 45%;
    height: 1px;
    background: #ccc;
}

.separator span::before {
    left: 0;
}

.separator span::after {
    right: 0;
}

.otpButton {
    width: 100%;
    padding: 10px 0;
    background-color: #EE4B2B;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.otpButton:hover {
    background-color: #388e3c;
}

.loginText {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.link {
    color: #EE4B2B;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}